form {
  max-width: 500px;
  margin: 20px auto;
}

.box {
  margin: 30px auto;
  max-width: 1000px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #9f9f9f;
}
.item-content {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  color: rgb(69, 69, 69);
}
.item-content h3 {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 24px;
}
.item-content .color-code {
  font-weight: 700;
}
.color-type {
  text-transform: uppercase;
}

@media(max-width: 700px) {
  .box {
    grid-template-columns: repeat(2, 1fr);
  }
}